* {
    padding: 0;
   
}

:root {
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: rgb(6, 126, 126);
    font-weight: 900;
    font-style: oblique;
    text-shadow: 100;
    text-align: center;
}

.bgimg {
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url('https://th.bing.com/th/id/OIP.6tlSKlj5dJgzb796PkJmywHaCQ?pid=ImgDet&rs=1');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.form1{
    text-align: left;
    text-decoration: solid;
}

a {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a:hover {
    color: red;
}