* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.45);
    --default-border-radius: 1.2rem;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas:
    ". . . ."
    ". hero . form"
    ". hero . form"
    ". . . ."
    ;
    gap: 8.5rem;
}

main{
    grid-area: form;

}

aside{
    grid-area: hero;
    
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span{
    color: steelblue;
}

img{
    width: 200px;
}

main{
    width: 60rem;
    height: 56rem;
    border: var(--default-border);
    padding: 4.4rem 5.7rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main h2 span{
    color: steelblue;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    border-radius: var(--default-border-radius);
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: black;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actionsC a {
    border-radius: var(--default-border-radius);
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: steelblue;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actions a + a {
    background-color: steelblue;
    color: black;
    margin-top: 4.8rem;
}

main header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0 1.8rem;
}

main header i {
    font-size: 1.6rem;
    color: white;
    border: 0.1rem solid cornflowerblue;
    background: steelblue;
}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem;
    text-align: center;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: steelblue;
}

main form{
    margin-top: 1.6rem;
}

main form label{
    font-size: 1.8rem;
    font-weight: 400;
    /* tranformar caracter maiusculo em minusculo */
    text-transform: lowercase;
    margin-bottom: 1rem;
    display: block;
}

main form :is(input, select) {
    width: 49rem;
    height: 5.5rem;

    background: white;
    border:var(--default-border);
    border-radius: var(--default-border-radius);

}

main form select {
    appearance: none;
}

main form .select-div {
    position: relative;

}

main form .select-div::after {
    top: 5rem;
    right: 0.4rem;
    font-size: 2.4rem;
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    position: absolute;
    z-index: 1;
    color: steelblue;
}

main form .point {
    position: relative;
}

main form input + button {
    position: absolute;
    right: -3.7rem;
    top: calc(2.7rem + 2.5rem);
    background-color: transparent;
    border: none;
    color: steelblue;
    font-size: 2.4rem;
    cursor: pointer;
}